<div class="mb-2 h2 " id="Sign">
    Sign in
</div>
<div  class="mb-4">
    Don,t have an account ?
    <a [routerLink]="['/signup']" class="text-decoration-none fw-medium " id="Sign">Sign up</a>

</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
        <div class="error-message"  *ngIf=" hasDisplayMessage('email') "> 
            <div  *ngIf="form.controls['email'].hasError('required')">
                Please enter your Email
             </div>
             <div   *ngIf=" form.controls['email'].hasError('email') ">
                Please enter a valid Email
             </div>
        </div>
    </div>

    <div class="mb-3">
        <input type="text" class="form-control bg-body-secondary" placeholder="Password" formControlName="password">
        <div class="error-message"  *ngIf=" hasDisplayMessage('password') ">
            <div  *ngIf="form.controls['password'].hasError('required')">
                Please enter your Password
             </div>
        </div>

    </div>
    
    <div class="mt-4">
        <button type="submit" class="btn  w-100 rounded-3" id="btnpink" > 
            Login
        </button>
    </div>
</form>
